

<div class="container-fluid">

		<h1 class="text-center">Welcome to Planly</h1>
		<h5 class="text-center">Esily plan your week!</h5>

		
		
		<p class="text-center"><%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-primary" %> </p>
			<br/>
		<p class="text-center">Already a member? 	<%= link_to 'Sign In', new_user_session_path  %> </p>

</div>
